<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        {{carros.id}} - {{carros.name}}

        <form action={% url 'update' carros.id %} method='POST' >
            {% csrf_token %}
            <input type='text' name='name' placeholder="Nome do carro" value='{{carros.name}}'>
            <button type='submit'> SALVAR </button>
        </form>

        <script src="" async defer></script>
    </body>
</html>